/Script/.clang_complete
/Script/.gcc-flags.json
/Script/.travis.yml

/Script/.pioenvs/.sconsign.dblite
/Script/.pioenvs/do-not-modify-files-here.url
/Script/.pioenvs/structure.hash

/Script/.pioenvs/d1_mini/*
!/Script/.pioenvs/d1_mini/firmware.bin

.remote-sync.json
.ftpconfig

/Script/platformio.ini
.vscode/settings.json
Script/Wemos/.vscode/settings.json
Script/Wemos/.vscode/extensions.json
Script/Wemos/platformio.ini
.gitignore
.vscode/*
Script/Wemos/platformio.ini
/Cert
/Test
/Backup