Script/.pioenvs/d1_mini/*
Script/.pioenvs/.sconsign.dblite
Script/.pioenvs/do-not-modify-files-here.url
Script/.pioenvs/structure.hash

Script/!.pioenvs/d1_mini/firmware.bin

Script/.piolibdeps
Script/.clang_complete
Script/.gcc-flags.json
Script/.pioenvs
Script/platformio.ini







.remote-sync.json
