/Script/.clang_complete
/Script/.gcc-flags.json
/Script/.travis.yml

/Script/.pioenvs/.sconsign.dblite
/Script/.pioenvs/do-not-modify-files-here.url
/Script/.pioenvs/structure.hash

/Script/.pioenvs/d1_mini/*
!/Script/.pioenvs/d1_mini/firmware.bin

.remote-sync.json
.ftpconfig

/Script/platformio.ini
.gitignore
/Cert
/Test
/Backup

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
Script/Wemos-MP/backup/*
Install/Config_Files/mosquitto/gBridge/*
.Trash-1000/*
.vscode/*
bin2.0/Dobby/__pycache__/*
.vscode/settings.json
